<div class="interactive-main">
	{{#blocks}}
	{{#firstBlock}}
	<div class="interactive-block">
		<p class="interactive-copy first-block">{{{copy}}}</p>
	</div>
	{{/firstBlock}}
	{{#graphic}}
		{{^highlight}}
		<div class="interactive-block">
			<div class="interactive-graphic" data-id="{{id}}">
				<!-- <div class="interactive-copy"> -->
					<div class="book-author"></div>
				<span class="label-chart left-col">Beginning of book</span><span class="label-chart right-col">End</span>
				<!-- </div> -->
				<div class="interactive-graphic-viz"></div>
			</div>
		</div>
		{{/highlight}}
		{{#highlight}}
		<div class="interactive-block" style="margin-top:20px;">
			<div class="interactive-copy">
			<span class="label-chart left-col">Beginning of book</span><span class="label-chart right-col">End</span>
			</div>
			<div class="interactive-highlight-container interactive-copy" data-dates="{{#quotes}}{{date}}, {{/quotes}}">
				<div class="interactive-highlight-viz"></div>
				<div class="interactive-highlight-label">
					{{#quotes}}
						<p class="interactive-highlight-quote" data-date="{{date}}"><span class="author-illustration"></span>{{quote}}</br><span class="label-chart" style="display:block;color:#bdbdbd;">{{metadata}}</span></p>
					{{/quotes}}
				</div>
			</div>
		</div>
		{{/highlight}}
	{{/graphic}}
	{{#imageBackground}}
	<div class="interactive-block">
		<div class="interactive-bg-block" style="background-image: url('<%= path %>/{{url}}');">
			<p class="interactive-copy interactive-lead on-img"><b>{{{copy}}}</b></p>
		</div>
	</div>
	{{/imageBackground}}
	{{#leadin}}
		<div class="interactive-block">
			<p class="interactive-copy interactive-lead"><b>{{{copy}}}</b></p>
		</div>
	{{/leadin}}
	 {{#copyBlock}}
		<div class="interactive-block">
			{{#copy}}
        <p class="interactive-copy">{{{.}}}</p>
			{{/copy}}
		</div>
		{{/copyBlock}}
	{{/blocks}}
</div>
