<div class="interactive-main">
	{{#blocks}}
		{{#firstBlock}}
		<div class="interactive-block">
			<p class="interactive-copy first-block" style="background-color: white; margin-top:-150px;position:relative;display:block;">{{{copy}}}</p>
		</div>
		{{/firstBlock}}
		{{#graphic}}
			{{^highlight}}
				{{^author}}
				<div class="interactive-block">
					<div class="interactive-graphic" data-id="{{id}}">
						<span class="label-chart left-col" id="second-chart-beginning">Begins novel</span><span class="label-chart right-col">Finishes novel in 642 days</span>
						<div class="interactive-graphic-viz"></div>
						<span class="label-chart" id="drop-label"><b>&darr; Drop indicates delay from initial plan</b></span>
						<div class="label-chart" id="break-label">Wyl took more than five months to write 4,300 words, instead of under two weeks had he stuck with the plan</div>
					</div>
					<div class="interactive-block">
						<div class="label-chart" style="color:#bdbdbd;" id="axis-label">Number of words &rarr;</div>
					</div>
				</div>
				{{/author}}
				{{#author}}
				<div class="interactive-block">
					<div class="interactive-graphic" data-id="{{id}}">
						<div class="book-author"></div>
						<span class="label-chart left-col" id="top-chart-beginning">Begins novel</span><span class="label-chart label-scenario" id="horizontal-label"><b>Horizontal line indicates no detour</b></span><span class="label-chart right-col">Finishes novel in 123 days</span>
						<div class="interactive-graphic-viz"></div>
					</div>
					<div class="interactive-block">
						<div class="label-chart" style="color:#bdbdbd;" id="axis-label2">Number of words &rarr;</div>
					</div>
				</div>
				{{/author}}
			{{/highlight}}
			{{#highlight}}
			<div class="interactive-block" style="margin-top:20px;">
				<div class="interactive-copy">
					<span class="label-chart left-col">Begins novel</span><span class="label-chart right-col">Finishes novel</span>
				</div>
				<div class="interactive-highlight-container interactive-copy" data-dates="{{#quotes}}{{date}}, {{/quotes}}">
					<div class="interactive-highlight-viz"></div>
					<div class="interactive-highlight-label">
						{{#quotes}}
						<p class="interactive-highlight-quote" data-date="{{date}}"><span class="author-illustration"></span>{{quote}}</br><span class="label-chart" style="display:block;color:#bdbdbd;">{{metadata}}</span></p>
						{{/quotes}}
					</div>
				</div>
			</div>
			{{/highlight}}
		{{/graphic}}
		{{#imageBackground}}
		<div class="interactive-block">
			<div class="interactive-bg-block" style="background-image: url('<%= path %>/{{url}}');">
			</div>
		</div>
		{{/imageBackground}}
		{{#leadin}}
		<div class="interactive-block">
			<p class="interactive-copy interactive-lead"><b>{{{copy}}}</b></p>
		</div>
		{{/leadin}}
		{{#copyBlock}}
		<div class="interactive-block">
			{{#copy}}
			<p class="interactive-copy">{{{.}}}</p>
			{{/copy}}
		</div>
		{{/copyBlock}}
		{{#adBanner}}

		<div class='interactive-ad-banner'>
			<div class="ad-wrapper--desktop hide-until-tablet">
				<div id="dfp-ad--{{adName}}" class="js-ad-slot ad-slot" data-link-name="ad slot" data-name="{{adName}}" data-tablet="1,1|2,2|88,70|728,90|88,71|fluid" data-desktop="1,1|2,2|88,70|728,90|940,230|900,250|970,250|88,71|fluid"></div>
			</div>

			<div class="ad-wrapper--mobile mobile-only">
				<div
			    id="dfp-ad--{{adName}}Mobile"
			    class="js-ad-slot ad-slot"
			    data-link-name="ad slot {{adName}}Mobile"
			    data-name="{{adName}}Mobile"
			    data-mobile="1,1|2,2|300,250|fluid"
			    ></div>
				</div>
		</div>


		{{/adBanner}}
		{{#adSquare}}
		<div class='interactive-ad-square'>
			<div class="ad-wrapper--desktop hide-until-tablet">
			  <div
			    id="dfp-ad--{{adName}}"
			    class="js-ad-slot ad-slot"
			    data-link-name="ad slot {{adName}}"
			    data-name="{{adName}}"
			    data-tablet="1,1|2,2|300,250|fluid"
			    ></div>
			</div>

			<div class="ad-wrapper--mobile mobile-only">
			  <div
			    id="dfp-ad--{{adName}}"
			    class="js-ad-slot ad-slot"
			    data-link-name="ad slot {{adName}}"
			    data-name="{{adName}}"
			    data-mobile="1,1|2,2|300,250|fluid"
			    ></div>
			</div>
		</div>
		{{/adSquare}}

	{{/blocks}}
</div>
