@import "mq";
@import "fonts";
$colour1: #dc2a7d;
$colour2: #4bc6df;
//$colour3:
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

// .content__standfirst {
//   display:none;
// }

.content--interactive .content__meta-footer .byline {
  padding-left:10px !important;

  @include mq($until: tablet) {
  padding-left:5px;
}
}

.content__main-column--interactive {
    max-width: initial !important;
    margin: auto !important;
}

.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.interactive-block {
    width: 100%;
}

.interactive-copy {
    color: #333;
    max-width: 620px;
    width: 90%;
    padding:10px 10px 0 10px;
    @include mq($from:wide) {
        margin-left: 15rem;
    }
    @include mq ($from:wideDesktop, $until: wide) {
        margin-left: 10rem;
    }
    @include mq($from:desktop, $until: wideDesktop) {
        margin-left: 0;
    }
    @include mq($until: tablet) {
        margin-left: 0;
    }
    position: relative;
    z-index: 3;
    @include mq($until: tablet) {
      padding:0px 5px 0px 5px;
      width: 100%;
    }
}

.interactive-lead {
    @include fs-header(4);
    font-size: 28px;
    line-height: 36px;

    @include mq($until:mobileLandscape) {
      font-size: 24px;
      line-height: 28px;
    }
}

.interactive-bg-block {
    margin: 0 -1.25rem;
    position: relative;
    background-size: cover;
    // background-attachment: fixed;
    min-height: 800px;
    height: 100%;
    @include mq($until: wide) {
        background-position: left;
    }
    @include mq(desktop) {
        min-height: 600px;
    }
    @include mq(wideDesktop) {
        min-height: 700px;
    }
    @include mq($until: desktop) {
        min-height: 400px;
    }
    @include mq($from:mobile, $until:mobileLandscape) {
        background-position: center;
    }
}

// .interactive-graphic {
//   margin-top:20px;
// }

.challenge-title,
.scenario-title {
    @include fs-textSans(4);
    font-weight: 900;
    padding-right: 10px;
    font-size: 18px;
    line-height: 24px;
}

.challenge-title {
    color: $colour1;
}

.scenario-title {
    color: $colour2;
}

.label-chart {
    @include fs-textSans(2);
    //font-weight: 400;
    font-size: 13px;
    line-height:18px;
    color: #333333;
    margin-bottom:-5px;

}
    div[data-id="ideal"] .label-chart, div[data-id="real"] .label-chart {
    opacity:0;
    }

    div[data-id="real"] .label-chart {
      margin-top:10px;
      margin-bottom:-83px;

      @include mq($until:mobileLandscape){
        margin-bottom:-100px;
      }
    }


.left-col {
    float:left;
    display:inline-block;
}

#top-chart-beginning, #second-chart-beginning {
  opacity:1;

  @include mq ($until:mobileLandscape){
    margin-top:13px;
  }
}

.right-col {
    float:right;
    display:inline-block;
}

.label-scenario {
  float:left;
  display:inline-block;

  @include mq($from:wide){
  margin-left:170px;
}

  @include mq($from:desktop, $until:wideDesktop){
  margin-left:250px;
}

@include mq($from:wideDesktop, $until:wide){
margin-left:90px;
}

  @include mq($from:tablet, $until:desktop){
  margin-left:170px;
}

  @include mq($from:mobileLandscape, $until:tablet){
  margin-left:70px;
  }
}

  #axis-label2 {
    position:relative;
    top:-30px;

    @include mq($until:mobileLandscape){
      display:none;
    }
  }


  #axis-label {
  position:relative;

  @include mq($from:tablet){
    top:-195px;
  }

  @include mq($from:mobileLandscape, $until:tablet){
    top:-150px;
  }

  @include mq($until:mobileLandscape){
    top:-95px;
    width:60px;
  }
}

  #horizontal-label {
    position:relative;

    @include mq($until:mobileLandscape){
      top:45px;
      left:-73px;
    }

    @include mq($from:mobileLandscape, $until:tablet){
      top:0px;
      left:-50px;
    }

  }

  #break-label {
    opacity:0;
    position:relative;
    top:100px;
    width: 250px;
    background:rgba(75, 198, 223, 0.2);
    padding:10px;

    @include mq($from:wide){
      left:450px;
    }

    @include mq($from:desktop, $until:wide){
      left:380px;
    }

    @include mq($from:tablet, $until:desktop){
      left:250px;
    }

    @include mq($from:mobileLandscape, $until:tablet){
      left:230px;
    }

    @include mq($from:mobile, $until:mobileLandscape){
      top:60px;
      left:120px;
      width:180px;
    }
  }

   #drop-label {
    position:relative;
    top:80px;
    opacity:0;


    @include mq($from:wideDesktop){
      left:450px;
    }

    @include mq($from:desktop, $until:wideDesktop){
      left:320px;
    }

    @include mq($from:tablet, $until:desktop){
      left:300px;
    }

    @include mq($from:mobileLandscape, $until:tablet){
      left:230px;
    }

    @include mq($until:mobileLandscape){
      left:120px;
      font-size:12px;
      top:60px;
    }
  }

  .first-block {
    padding-top:7px;
    padding-bottom:5px;
  }



.first-block::first-letter {
    font-size: 100px;
    line-height: 105px;
    margin-right: 20px;
    color: #333;
    float: left;
    @include mq($until: tablet) {
        font-size: 60px;
        line-height: 60px;
        margin-right: 15px;
    }
}

.element-interactive {}

    span.author-illustration {
    background: url("<%= path %>/assets/wyl-quote1-small.jpg");
    width:100px;
    height:83px;
    display:block;
    float:left;
    margin-right:10px;
    margin-bottom:100px;
    }

    .book-author{
      background: url("<%= path %>/assets/wyl-quote1-small.jpg");
      width:100px;
      height:83px;
      display:block;
      margin-top:20px;
    }

    .interactive-highlight-quote:nth-child(2n) .author-illustration {
    background: url("<%= path %>/assets/wyl-quote2-small.jpg");
    }

.interactive-highlight-container {
    .interactive-highlight-viz {
        max-width: 620px;
        background: transparent;
        //min-height:200px;
        margin: 0 auto;
    }
    p {
        @include fs-textSans(4) //@include fs-header(4);
        padding: 8px;
        margin: 0 auto;
        svg {
            shape-rendering: auto;
        }
    }
    .interactive-highlight-label {
        position: relative;
        min-height: 170px;
        @include mq($from: mobile, $until: mobileLandscape) {
            min-height: 190px;
        }


        .interactive-highlight-quote{
            padding:0;
            height:100px;
            background:transparent;
            margin:5px auto 0px;
            max-width:620px;
            width:380px;
            color:#333333;
            font-size:16px;
            line-height:22px;
            position: absolute;
            top:0;
            opacity:0;
            transition: 1s opacity;

            @include mq($from:mobile, $until:mobileLandscape) {
            width:330px;
            }

        }
    }
}


.interactive-ad-banner {

  .ad-wrapper--mobile {
    margin: 20px 0;
    width: calc(100% + 5px);
    

    .ad-slot__content {
      text-align: center;
    }
  }

  .ad-slot--rendered {
    background: #f6f6f6;
    border-top: 1px solid #eaeaea;
    box-sizing: border-box;
    padding-bottom: 20px;
  }


  .ad-wrapper--desktop {

    .ad-slot--rendered {

      @include mq($from:tablet){
        padding-left: 5px;
        margin: 40px -20px;
        width: calc(100% + 40px);
      }

      @include mq($from:desktop){

        margin: 40px 0;
        width: 100%;
      }

      @include mq($from:wideDesktop){
        padding-left: 170px;
        margin: 40px 0;
        width: 100%;
      }




      @include mq($from:wide){
          padding-left: 250px;
      }

      .ad-slot__label {
        border-top: 0px;
        padding-left: 0;
      }

    }

  }
}
// .interactive-ad-square {
//   .ad-wrapper--desktop {
//
//     .ad-slot--rendered {
//       max-width: 620px;
//       margin: 40px 0 40px 250px;
//       background: #f6f6f6;
//       padding-bottom: 20px;
//
//       .ad-slot__content {
//         text-align: center;
//       }
//
//
//     }
//
//   }
// }
